
.Rhistory
altpet/e01.tif
altpet/e02.tif
altpet/e03.tif
altpet/e04.tif
altpet/e05.tif
altpet/e06.tif
altpet/e07.tif
altpet/e08.tif
altpet/e09.tif
altpet/e10.tif
altpet/e11.tif
altpet/e12.tif
data/p01.tif
data/p02.tif
data/p03.tif
data/p04.tif
data/p05.tif
data/p06.tif
data/p07.tif
data/p08.tif
data/p09.tif
data/p10.tif
data/p11.tif
data/p12.tif
data/tn01.tif
data/tn02.tif
data/tn03.tif
data/tn04.tif
data/tn05.tif
data/tn06.tif
data/tn07.tif
data/tn08.tif
data/tn09.tif
data/tn10.tif
data/tn11.tif
data/tn12.tif
data/tx01.tif
data/tx02.tif
data/tx03.tif
data/tx04.tif
data/tx05.tif
data/tx06.tif
data/tx07.tif
data/tx08.tif
data/tx09.tif
data/tx10.tif
data/tx11.tif
data/tx12.tif
data/wrong.cpg
data/wrong.dbf
data/wrong.prj
data/wrong.shp
data/wrong.shx
output/deficit.tif
output/e.tif
output/e01.tif
output/e02.tif
output/e03.tif
output/e04.tif
output/e05.tif
output/e06.tif
output/e07.tif
output/e08.tif
output/e09.tif
output/e10.tif
output/e11.tif
output/e12.tif
output/m.tif
output/m.tif.aux.xml
output/Mreg2.tif
output/p.tif
output/pAET.tif
output/surplus.tif
output/Bts.tif
output/ClimateRegime.tif
output/ClimateRegime5alt.tif
output/t01.tif
output/t02.tif
output/t03.tif
output/t04.tif
output/t05.tif
output/t06.tif
output/t07.tif
output/t08.tif
output/t09.tif
output/t10.tif
output/t11.tif
output/t12.tif
output/Tc.tif
output/Tcl.tif
output/Tclx.tif
output/TRegime.tif
warming/p01.tif
warming/p02.tif
warming/p03.tif
warming/p04.tif
warming/p05.tif
warming/p06.tif
warming/p07.tif
warming/p08.tif
warming/p09.tif
warming/p10.tif
warming/p11.tif
warming/p12.tif
warming/tn01.tif
warming/tn02.tif
warming/tn03.tif
warming/tn04.tif
warming/tn05.tif
warming/tn06.tif
warming/tn07.tif
warming/tn08.tif
warming/tn09.tif
warming/tn10.tif
warming/tn11.tif
warming/tn12.tif
warming/tx01.tif
warming/tx02.tif
warming/tx03.tif
warming/tx04.tif
warming/tx05.tif
warming/tx06.tif
warming/tx07.tif
warming/tx08.tif
warming/tx09.tif
warming/tx10.tif
warming/tx11.tif
warming/tx12.tif
wc2.1_2.5m_elev/wc2.1_2.5m_elev.tif
output/Tw.tif
output/Twh.tif
